name: Build Flet App
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest
    env:
      PYTHONUTF8: 1

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install Dependencies
        run: |
            pip install -r requirements.txt

      - name: Enable Windows Desktop
        run: flutter config --enable-windows-desktop

      - name: Flet Build
        # تم إضافة --no-native-assets لتجنب خطأ dart.EXE.exe المتكرر في بيئة GitHub
        run: flet build windows --verbose

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-flet-app
          path: build/windows
